@{
    ViewBag.Title = "All Photos";
}
<div class="text-center">
    <a href="@Url.Action("create","photo")"<div class="btn btn-success btn-lg text-center">Add a photo!</div></a>
    <hr />

    @Html.Action("_PhotoGallery", "Photo")
</div>