@model IEnumerable<PhotoSharingApplication.Models.Photo>

@{
    ViewBag.Title = "SlideShow";
}

<script src="@Url.Content("~/Scripts/SlideShow.js")" type="text/javascript"></script>
<link href="~/Content/slideshow.css" rel="stylesheet" />
<div id="slide-show">
    @foreach (var item in Model) {

        <div class="slide-show-card">
            <h3>
                @Html.ActionLink(item.Title, "Details", new { id = item.PhotoID })
            </h3>
            <p>
                By @Html.DisplayFor(modelItem => item.UserName)
            </p>
       
                <img width="600" src="@item.AzurePath" />
        </div>
        
    }

</div>
