@{
    ViewBag.Title = "Welcome to Adventure Works Photo Sharing";
}

<h3>Welcome to Danske Memes! Use this site to share your pictures of pizza og dank memes, whatever you prefer.</h3>
            
<h2>Latest Photos:</h2>

@Html.Action("_PhotoGallery", "Photo", new { number = 3 })
    
